<h3 class="text-center">From Group Demo</h3>
<div class="container col-5">
  <form [formGroup]="profileForm" (ngSubmit)="Submitdata()">
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" formControlName="fgname" >
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" formControlName="fgemail" >
    </div>
    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" formControlName="fgphone" >
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" >Submit</button>
  </div>
  </form>
   <div >
        {{ data | json }}
    </div>
</div>
